.text-large-title {
  font-size: 26px;
  font-weight: normal;
}

.text-title1 {
  font-size: 22px;
  font-weight: normal;
}

.text-title2 {
  font-size: 17px;
  font-weight: normal;
}

.text-title3 {
  font-size: 15px;
  font-weight: normal;
}

.text-headline {
  font-size: 13px;
  font-weight: bold;
}

.text-body {
  font-size: 13px;
  font-weight: normal;
}

.text-callout {
  font-size: 12px;
  font-weight: normal;
}

.text-footnote {
  font-weight: normal;
  font-size: 10px;
}

.text-caption1 {
  font-weight: normal;
  font-size: 10px;
}

.text-caption2 {
  font-weight: 500;
  font-size: 10px;
}
